/* body{
    text-align: center;
}

div{
    border: 1px solid,black;
    height: 60px;
    margin:  auto;
    width: 300px;
    
} */
/* .box{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid black;
} */

/* div{
    height: 300px;
    width: 300px;
    background-color: rgb(214, 133, 133);
}
ul{
    background-color: rgb(137, 137, 227);
}
li{
    background-color: darkmagenta;
} */




/* ------------SIMON GAME-------- */

body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    margin: 1rem;
    border: 1px ;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(225, 100, 100);
}
.green{
     background-color: rgb(130, 215, 130);
}
.yellow{
    background-color: rgb(238, 238, 122);
}
.blue{
    background-color: rgb(94, 94, 234);
}
.flash{
    background-color: white;
}
.userflash{
    background-color: darkorchid;
}